{% extends 'base.html' %}
{% block content %}
<div class="container-fliud" style="padding: 0 1rem;">
    <!-- Backend Project Section -->
    <section class="row mt-2 mb-3">
        <h4>Backend Projects</h4>
        {% if web_obj %}
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    {% for project in web_obj %}
                    <div class="glide__slide card rounded border-primary text-white">
                        <img class="class-img-top" src="https://res.cloudinary.com/chosen1/image/upload/v1718465474/{{ project.cover_image }}" style="height: 300px;" loading="lazy" alt="cover_image">
                        <div class="card-body" style="height: 300px; overflow-y: scroll;">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <hr>
                            <p class="card-subtitle">{{ project.description }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <p class="text-muted"><i class="material-symbols-outlined text-warning">calendar_month</i> {{ project.date }}</p>
                            <span class="social-link">
                                <a href="{{ project.github_url }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-github fa-2x me-3"></i>
                                </a>
                                <a href="{{ project.project_url }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-globe fa-2x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="glide__arrows" data-glide-el="controls">
                <i class="glide__arrow glide__arrow--left btn btn-primary material-symbols-outlined fa-2x" data-glide-dir="<">arrow_back_ios</i>
                <i class="glide__arrow glide__arrow--right btn btn-primary material-symbols-outlined fa-2x" data-glide-dir=">">arrow_forward_ios</i>
            </div>
        </div>
        {% else %}
        <marquee class="d-flex align-items-center" style="height: 80vh;">
            <img src="/static/images/work_in_progress.jpg" alt="404_icon">
        </marquee>
        {% endif %}
    </section>
</div>
{% endblock %}